.fakeimg {
    height: 200px;
    background: #aaa;
}

.jumbotron{
    border-radius: 0px !important;
}

.bg-container{
    height: 80vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.navbar{
    background-color: none !important;
    background: none !important;
}

.navbar-solid{
    background: red !important;
    background-color: red !important;
}