html, body{
    font-family: 'Montserrat', sans-serif;
}
 
p{
    font-size: 0.8rem;
}

.bg-aliceblue{
    background: #f6f6f6;
}

.jumbotron{
    border-radius: 0px !important;
}

.bg-container{
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.bg-aboutUs{
    background: purple;
}

.navbar{
    background-color: white !important;
    background: white !important;
    padding: 20px !important;
    -webkit-transition: padding 0.5s, background 0.5s; /* Safari */
    transition: padding 0.5s, background 0.5s;
}

.navbar-solid{
    background: white !important;
    background-color: white !important;
    padding: 8px 16px 8px 16px !important;
}

.appear-animation{
    animation-name : appear;
    animation-duration : 2s;
    transition-timing-function: ease-out;
}

@keyframes appear{
    from {transform: translateY(150px)}
    to {transform: translateY(0px)}
}

#aboutUs{
    padding-top: 50px;
}

#services{
    padding-top: 50px;
}

.footer{
    background: #333333;
    padding: 10px;
    color: lightgray;
}